@media only screen and (min-width: 60em) {

    /*Header*/
    .header-headings h1 {
        font-size: 2.2em;
    }

    .header-headings div {
        font-size: 1.2em;
    }

    /*Nav*/
    nav ul {
        font-size: 1em;
    }

    li.active a h2 {
        color: gold;
    }

    /*Body*/
    main {
        max-width: 900px;
    }

    h3 {
        font-size: 1.4em;
    }

    .main-content {
        font-size: 1.1em;
    }

    /*Footer*/
    footer {
        width: 100%;
        font-size: 1.1em;
    }
}