@media only screen and (min-width: 46em) {
    /*Header*/
    header {
        text-align: center;
}

    .header-headings h1 {
        font-size: 1.8em;
     }
    .header-headings div {
        font-size: 1.1em;
    }

    /*Nav*/
    
    nav ul {
        font-size: 0.8em;
        display: flex;
        flex-direction: unset;
        padding-left: 0;
    }

    nav ul li {
        border-bottom: none;
    }

    nav ul.hide {
        display: none;
    }

    li.active a h2 {
        color: black;
    }
    
    nav div button {
        display: none;
    }
    
    nav ul.hide {
        display: flex;
    }

    /*Body*/
   

    h3 {
        font-size: 1.2em;
    }

    .main-content {
        font-size: 0.95em;
    }

    /*Footer*/
    footer {

        font-size: 1em;
    }
}