/*Header*/
header {
    background: #3e69a5;
    display: flex;
    padding: 5px 2px;
    align-items: center;
    justify-content: center;

}
.motto {
    font-family: "Quicksand", "Karla", sans-serif;
}

picture {
    display: flex;
    justify-content: center;
}

header img {
    width: 80%;
    height: auto;
}

.header-headings {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Architects Daughter";
  }

h1 {
    margin: 0px 0px -6px 0px;
}
.header-headings div {
    font-weight: bold;
}



/*Button*/

button {
    background-color: #94accc;
    font-size: 30px;
    width: 800px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
}

div.button-sec {
    display: flex;
    justify-content: center;
}

/*Navigation*/
nav ul.hide {
    display: none;
}
nav ul li h2{
    font-size: 1.2em;
}
nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #94accc;
    text-align: center;
    font-weight: bold;
    font: 0.8em;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    flex: 1 1 100%;}

nav ul li a {
    text-decoration: none;
    color: black;
}
li.active a h2 {
    color: gold;
}
nav ul :hover {
    color: white;
    background-color: #3e69a5;
}




.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Body*/
body {
        font-family: "Quicksand", "Karla", sans-serif;
}
p {
    font-family: "Quicksand", "Karla", sans-serif;
}
main {
    max-width: 400px;
    margin: 0 auto;
}

h3 {

    font: 1.4em;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    margin: 0px auto;
}

.main-content {
    border: double black;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

/*Footer*/
footer {
    font-family: "Quicksand", "Karla", sans-serif;
    background-color: #94accc;

    text-align: center;
    padding: 10px 5px;
    font-weight: bold;

}
.lastUpdated {
    color: gold;
    font-size: 0.8em;
  }


