@media only screen and (min-width: 943px) {

    /*Header*/
    .header-headings h1 {
        font-size: 2.2em;
    }

    .header-headings div {
        font-size: 1.2em;
    }

    /*Nav*/
    nav ul {
        font-size: 1em;
    }

    li.active a h2 {
        color: gold;
    }

    /*Body*/
    main {
        max-width: 900px;
    }

    h3 {
        font-size: 1.4em;
    }

    .main-content {
        font-size: 1.1em;
    }

    /*Footer*/
    footer {
        width: 100%;
        font-size: 1.1em;
    }

/*HERO*/
.weatherSum {
    position: absolute;
    Top: 103px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem;
    box-shadow: 0 0 20px;
    width: 98.3%;

  }
  .fiveDayFlex li {
    padding: 20px;
}
article img {
    float: right;
    border: 4px solid #94accc;
    max-width: 40%;
    margin: 1.25rem;
}
article h4 {
    margin: -20px 0px 0px 20px;
}
.map img {
    max-width: 50%;
}
}