body {
    text-align: -webkit-center;
}
caption {
    font-family: 'Ubuntu';
    font-size: 2.4rem;
    padding: 13px 0px;
    background-color: #7fb9c2;  
    font-weight: bold;
}
.highlight {
    background-color: #628ca6;
    color: white;
}

table {

    margin: 25px 0;
    font-family: Ubuntu, sans-serif;
    border-collapse: collapse;
    width: 400px;
    background-color: #e7ffed;
    font-size: 1.2rem;

  }
  table, caption {
    box-shadow: 8px 8px 15px #628ca6;
  }
  
  tr:nth-child(odd) {
    background-color: #e7f0ed;
  }
  
  
  
  td, th {
    border: 1.5px solid #bbbbbb;
    text-align: center;
    padding: 8px;
  }
  

thead th{
    background-color: #628ca6;
    color: white;
    font-size: 1.5rem;
}