@media only screen and (min-width: 900px) {

    header h1 {
        bottom: 70px;
        font-size: 8rem;
        max-height: 50px;
    } 


    .map {
        width: 425px;
        height: 300px;

    }


    .contact {
        font-size: 1.25rem;
    }
    .contact td {
        padding: 0 20px;
    }
    .mapbox {
        width: 1080px;
    }

    .rentaltypes {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }



}
