
body {
    max-width: 1080px;
    margin: 0 auto;
}
header {
    background-color: #0060B5;
    text-align: center;
    color: #eef2f3;
    max-width: 100%;
    margin: 0 auto;
}
header img {
    max-width: 100%;
}
header h1 {
    position: relative;
    bottom: 41px;
    font-family: "East Sea Dokdo";
    margin: 0 auto;
    font-size: 4.5rem;
    max-height: 25px;
}

button {
    background-color: #77A9D4;
    font-size: 1.5rem;
    width: 100%;
    border: none;
    padding: 5px;
}

div.button-sec {
    display: flex;
    justify-content: center;
}

nav ul.hide {
    display: none;
}
nav ul li h2{
    font-size: 1.0rem;
    margin: 6px;
}
nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #77A9D4;
    text-align: center;
    font-weight: bold;
    font: 0.8em;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    flex: 1 1 100%;}

nav ul li a {
    text-decoration: none;
    color: #0A0A0A;
}
nav ul :hover {
    background-color: #eef2f3;
}
li.active a h2 {
    color: #eef2f3;
    background-color: #0060B5;
}

nav ul li.active {
    background-color: #0060B5;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.hero {
    text-align: center;
}
.heroimg{
    max-width: 100%;
}
.callToAction {
    margin: -16px;
    height: 55px;
    background-color: rgba(238, 242, 243, .9);
    position: static;
    bottom: 175px;
    right: 200px;
    text-align: center;
    font-size: 1rem;
}
.callToAction h3 {
    margin: 12px 1px 1px 1px;
    padding: 2%;
}
div.callToAction:hover {
    background-color:white;

} 
.callToAction a:link, a:visited {
        color: #0A0A0A;
       text-decoration: none;
  } 

div.callToAction :hover {
    color: #0060B5;
}




div ul {
    list-style-type: none;

}




.map {
    width: 300px;
    height: 300px;
    border: none;
    padding: 10px;
}



p, td, h2, h3, li {
    font-family: "Noto Sans";
}









.mapbox {
    background-color: #77A9D4;
    text-align: center;
    max-width: 900px;
}

.topfooter {
    background-color: #77A9D4;
    max-width: 100%;
    height: 42px;
}
.contact {
    background-color: #0060B5;
    padding: 1% 2% 1% 2%;
    color: #eef2f3;
}

.bottom {
    background-color: #0060B5;
    padding: 1% 2% 1% 2%;
    color: #eef2f3;
    text-align: center;
}
.contact td {
    padding: 0 20px;
}
.social {
    text-align-last: justify;
}


fieldset {
    max-width: 600px;
    margin: auto;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    max-width: 400px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  .speciallabel {
    display: inline;
    vertical-align: text-top;
    justify-self: left;
  }

  
textarea {
    height: 50px;
    flex: 0 0 200px;
    margin-left: 10px;
    max-width: 206px;
}

  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
    max-width: 400px;
  }
.submitBtn {
    font-size: 1.5rem;
    display: flex;
    place-content: center;
    width: 100%;
    max-width: 628px;
    font-weight: bold;
    height: 100%;
    margin: 10px auto;
    padding: 14px;
}


.rentalheading{
    text-align: center;
}
.rentaltypes {
    margin: 1rem auto;
    width: 70%;
    display:grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.rentaltypes section h2 {
    height: 50px;
    font-size: 1.2rem;
    margin: 10px 0px 25px 0px;
}

section {
    background: #77A9D4;
    text-align: center;
    border: 1px solid #0060B5;
    margin: 0 auto;
    padding: 0.5em;
    place-self: center;
    width: 85%;

}

section > img {
    max-width: 100%;
    box-shadow: 0 0 10px 3px #0A0A0A;
}

.rentalpage {
    max-width: 1080px;
}

.rentaltable {
        border: 1px solid #0A0A0A;
        max-width: 500px;
        margin: 15px auto;
}
.rentaltable th {
    width: 100px;
    border: .25px solid #0A0A0A;
    vertical-align: middle;
}

.rentaltable tr {

    text-align: center;
    border-collapse: collapse; 
}